.hamburger {
    color: white;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}