.heroes-list {
    font-size: 12px;
    color: #333;
    padding: 14px;
    header {
        h2 {
            font-size: 1.5rem;
        }
    }
    .hero-list {
        padding: 5px 10px;
        font-size: 1.1rem;
        .hero-details {
            cursor: pointer;
            &:hover {
                background: #eee;
            }
        }
    }
}